<div class="blog-card row">
  <div class="col-12 col-md-6">
    <img id="blog-image" src="./assets/images/mock-blog.png" alt="blog image" />
  </div>
  <div class="col-12 col-md-6 blog-summary mt-4 mt-md-0">
    <div class="post-metadata">
      <div class="post-date">Sunday , 1 Jan 2023</div>
    </div>
    <div class="post-detail mt-2">
      <div class="title-container">
        <h4>Migrating to Linear 101</h4>
      </div>
      <div class="brief">
        Linear helps streamline software projects, sprints, tasks, and bug tracking. Here’s how to
        get
      </div>
      <div class="tag-list d-flex flex-row column-gap-1">
        <p-tag severity="success" value="Design" />
        <p-tag severity="danger" value="Art" />
      </div>
    </div>
  </div>
</div>
