// Style Definitions
$text-color_light: black;
$text-color_dark: white;
$btn-text-color: white;
$primary-color: #0078ff;
$hyperlink-bold-color: #0c21c1;
$blog-color-light: #667085;
$blog-color-dark: #c0c5d0;

// Theme Declaration
@mixin lighten() {
  --text-color: #{$text-color_light};
  --primary-color: #{$primary-color};
  --btn-text-color: #{$btn-text-color};
  --hyperlink-bold-color: #{$hyperlink-bold-color};
  --blog-content-text-color: #{$blog-color-light};
}

@mixin darken() {
  --text-color: #{$text-color_dark};
  --primary-color: #{$primary-color};
  --btn-text-color: #{$btn-text-color};
  --hyperlink-bold-color: #{$hyperlink-bold-color};
  --blog-content-text-color: #{$blog-color-dark};
}
